<ul class="pc-actors">
  <li class="options">
    <input type="checkbox" id="crlngn-pc-actors-all" value="all">
    <label for="crlngn-pc-actors-all">Select All</label>
    <i class="icon fas {{#if actorsLocked}}fa-lock-keyhole{{else}}fa-lock-keyhole-open{{/if}}" id="crlngn-actors-lock"></i>
  </li>
  {{#each actors as |actor|}}
    <li class="pc-actor" data-id="{{ actor.id }}" data-selected="false">
      {{!-- <input type="checkbox" id="crlngn-pc-{{ actor.id }}" data-id="{{ actor.id }}"> --}}
      <div class="actor-select" data-id="{{ actor.id }}">
        <i class="icon fas fa-circle"></i>
      </div>
      <div class="actor-data">
        {{#if ../showName}}<span class="actor-name">{{ actor.name }}</span>{{/if}}
        <ul class="actor-stats">
          {{#each actor.crlngnStats as |prop|}}
            <li class="actor-stat">
              <span class="stat-abbrev">{{ prop.abbrev }}</span>
              <span class="stat-value">{{ prop.value }}</span>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="actor-img">
        <img src="../{{ actor.img }}" alt="{{ actor.name }}" />
      </div>
    </li>
  {{/each}}
</ul>

<!-- Request Types -->
<ul class="request-types">
  {{#each requestTypes as |requestType|}}
    <li data-id="{{ requestType.id }}">
      {{#if requestType.rollable}}
        <i class="icon fas fa-dice-d20"></i>
      {{else}}
        <i class="icon fas fa-caret-left"></i>
      {{/if}} 
      {{ requestType.name }}
    </li>
  {{/each}}
</ul>

<!-- Roll Types -->
<ul class="roll-types">
  {{#each rollTypes as |rollType|}}
    <li>
      <i class="icon fas fa-dice-d20"></i>
      {{ rollType.name }}
    </li>
  {{/each}}
</ul>