<section
  class="form-content tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
>
  <h4><i class="fas fa-globe"></i> {{localize "FLASH_ROLLS.ui.dialogs.worldSettingsLabel"}} <span class="toggle-hint">{{localize 'FLASH_ROLLS.ui.dialogs.toggleHints'}}</span></h4>
  <hr/>

  <div class="form-group">
    <label for="rollInterceptionEnabled">{{fields.rollInterceptionEnabled.label}}</label>
    <input type="checkbox" name="rollInterceptionEnabled" {{#if rollInterceptionEnabled}}checked{{/if}} />
    <p class="hint">{{fields.rollInterceptionEnabled.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="useGMTargetTokens">{{fields.useGMTargetTokens.label}}</label>
    <input type="checkbox" name="useGMTargetTokens" {{#if useGMTargetTokens}}checked{{/if}} />
    <p class="hint">{{fields.useGMTargetTokens.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="showOfflineNotifications">{{fields.showOfflineNotifications.label}}</label>
    <input type="checkbox" name="showOfflineNotifications" {{#if showOfflineNotifications}}checked{{/if}} />
    <p class="hint">{{fields.showOfflineNotifications.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="initiateCombatOnRequest">{{fields.initiateCombatOnRequest.label}}</label>
    <input type="checkbox" name="initiateCombatOnRequest" {{#if initiateCombatOnRequest}}checked{{/if}} />
    <p class="hint">{{fields.initiateCombatOnRequest.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="templateAutoTarget">{{fields.templateAutoTarget.label}}</label>
    <select name="templateAutoTarget" data-current-value="{{templateAutoTarget}}">
      {{#each fields.templateAutoTarget.choices}}
      <option value="{{@key}}" {{#if (eq @key ../templateAutoTarget)}}selected{{/if}}>
        {{this}}
      </option>
      {{/each}}
    </select>
    <p class="hint">{{{fields.templateAutoTarget.hint}}}</p> 
  </div>
  
  
  {{!-- <div class="form-group">
    <label for="groupRollResultMode">{{fields.groupRollResultMode.label}}</label>
    <select name="groupRollResultMode">
      {{#each fields.groupRollResultMode.choices}}
      <option value="{{@key}}" {{#if (eq @key ../groupRollResultMode)}}selected{{/if}}>
        {{this}}
      </option>
      {{/each}}
    </select>
    <p class="hint">{{{fields.groupRollResultMode.hint}}}</p> 
  </div> --}}
</section>
